{% extends "base.html.twig" %}

{# {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} #}

{% block body %}

	<h1>Creation d'un article</h1>

	{{ form_start(formArticle) }}

	{# {{ form_widget(formArticle) }} #}
	{{ form_row(formArticle.title, {'attr': {'placeholder': "Titre"}}) }}
	{{ form_row(formArticle.category) }}
	{{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu"}}) }}
	{{ form_row(formArticle.image, {'attr': {'placeholder': "Image"}}) }}

    <button class="btn btn-primary">
		{% if editMode %}
			Modifier
		{% else %}
			Enregistrer
		{% endif %}
		
	</button>

	{{ form_end(formArticle) }}


{% endblock %}
