{% extends "base.html.twig" %}

{% block body %}
<h1>{{ title }}</h1>

{% if age > 18 %}
    <p>tu est mageur</p>
{% else %}
    <p>tu est mineur</p>
{% endif %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iusto. 
Facere necessitatibus saepe delectus nulla adipisci quas molestias ratione 
odio cupiditate quaerat, iusto, accusantium exercitationem deserunt repellat quos magni illum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, iusto. 
Facere necessitatibus saepe delectus nulla adipisci quas molestias ratione
 odio cupiditate quaerat, iusto, accusantium exercitationem deserunt repellat quos magni illum.</p>

{% endblock %}
